
.header_top{
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;
}

.header_top>Link{
    text-decoration: none !important;
}

.header_bottom{
    background-color: rgb(65, 83, 240);
}

.header_bottom_search_box{
    display: flex;
    align-items: center;
    padding: 10px 20px;
}

.search_input{
    width: 40%;
    height: 30px;
    padding: 0px 10px;
}

.search_icon{
    background-color: yellow;
    height: 32px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.search_icon>img{
    height: 30px;
    object-fit: cover;
}

.header_top_right_icon{
    width: 50px;
    height: 30px;
}

.header_top_right{
    position: relative;
}
.shopping_icon_number{
    position: absolute;
    top: -10px;
    right: 0px;
    width: 10px;
    background-color: red;
    border-radius: 50%;
}